/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
.editor
{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.editor, .rich_editor_frame
{
	border: 1px solid #4a4a4b;
	padding: 9px !important;
	margin: 0;
}

.rich_editor_frame
{
	background: #fff;
}

/* The resize handle. */
.richedit_resize
{
	height: 5px;
	font-size: 0;
	background: #2e1b66 url(../images/bbc/resize-handle.gif) no-repeat 50% 1px;
	border: 1px solid #110a2d;
	border-top-width: 0;
	cursor: s-resize;
	width: 100%;
	padding: 0 2px;
}